

.header{
  position: absolute;
  display: flex;
  width: 100%;
  top: 0;
  margin: 0px;
  margin-top: 0;
  z-index: 100;
  border-bottom-right-radius: 5vh;
  border-bottom-left-radius: 5vh;
  background: rgb(255, 255, 255, 1);
  transition: background 200ms ease-in-out;
color: #333;
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
filter: none;
transition: filter .5s ease-in;
overflow: hidden;

}
.header.active {
  background: transparent;
  box-shadow:none;
  

}
.header3{
  position:fixed;
  display: flex;
  width: 100%;
  top: 0;
  margin: 0px;
  margin-top: 0;
  z-index: 100;
  background: rgb(0, 0, 2);
color: white;
filter: none;
transition:opacity 350ms, background 200ms ease-in-out, filter .5s ease-in;
}
@keyframes fade {
  0%{
    opacity: 0.0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1.0;
    transform: translateY(0%);

  }
}
@keyframes slide {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;

  }
}
.header_logo{
  height: 24px;
  width: 100px;
  margin-top: 9px;
  padding-left: 40px;
  z-index: 4;
}
.header_center {
flex: 1;
  display:inline-block;
  padding:10px;
  margin: 5px;
  margin-left: 8%;
}

.link{
  font-size: 15px;
  color: rgb(0, 0, 2);
  text-decoration: none;
  z-index: 1;
  position: relative;
  margin-right: 1%;
  padding: 15px;
}
.link1{
  font-size: 15px;
  color: white;
  text-decoration: none;
  z-index: 1;
  position: relative;
  margin-right: 1%;
  padding: 15px;
}
.animation{
position: absolute;
height: 70%;
/* height: 5px; */
top: 14.5%;
/* bottom: 0; */
z-index: 0;
border-radius: 20px;
transition: all .4s ease-out 0s;
transition-delay: .1s;
}
.link:nth-child(0){
width: 0px;
}
.start-home, .link:nth-child(0):hover~.animation{
width: 0px;
left: 44.35%;
background:  transparent;
filter: blur(3px) brightness(.1px);
}
.link:nth-child(1){
width: 156px;
}
.link:nth-child(1):hover~.animation{
width: 156px;
left: 20.16%;
background:  rgba(0, 0, 2, 0.1);
filter: blur(3px) brightness(.1px);


}
.link:nth-child(2){
width: 110px;
}
.link:nth-child(2):hover~.animation{
width: 110px;
left: 33.94%;
background:  rgba(0, 0, 2, 0.1);
filter: blur(3px) brightness(.1px);

}
.link:nth-child(3){
width: 100px;
}
.link:nth-child(3):hover~.animation{
width: 100px;
left: 44.35%;
background:  rgba(0, 0, 2, 0.1);
filter: blur(3px) brightness(.1px);

}
.link:nth-child(4){
width: 100px;
}
.link:nth-child(4):hover~.animation{
width: 60px;
left: 53.85%;
background:  rgba(0, 0, 2, 0.1);
filter: blur(3px) brightness(.1px);

}
.link:nth-child(5){
width: 85px;
}
.link:nth-child(5):hover~.animation{
width: 85px;
left: 60%;
background:  rgba(0, 0, 2, 0.1);
filter: blur(3px) brightness(.1px);
}
.link:nth-child(6){
width: 100px;
}
.link:nth-child(6):hover~.animation{
width: 80px;
left: 68.07%;
background:  rgba(0, 0, 2, 0.1);
filter: blur(3px) brightness(.1px);
}

.link:nth-child(7){
width: 100px;
}
.link:nth-child(7):hover~.animation{
width: 100px;
left: 75.95%;
background:  rgba(0, 0, 2, 0.1);
filter: blur(3px) brightness(.1px);
}
.link1:nth-child(0){
  width: 0px;
  }
  .start-home, .link1:nth-child(0):hover~.animation{
  width: 0px;
  left: 44.35%;
  background:  transparent;
  
  }
  .link1:nth-child(1){
  width: 156px;
  }
  .link1:nth-child(1):hover~.animation{
  width: 156px;
  left: 20.3%;
  background:  rgba(255, 253, 234, 0.6);
  filter: blur(3px);
  
  
  }
  
  .link1:nth-child(2){
  width: 110px;
  }
  .link1:nth-child(2):hover~.animation{
  width: 110px;
  left: 34.25%;
  background:  rgba(255, 253, 234, 0.6);
  filter: blur(3px);
  
  }
  .link1:nth-child(3){
  width: 100px;
  }
  .link1:nth-child(3):hover~.animation{
  width: 100px;
  left: 44.75%;
  background:  rgba(255, 253, 234, 0.6);
  filter: blur(3px);
  
  }
  .link1:nth-child(4){
  width: 100px;
  }
  .link1:nth-child(4):hover~.animation{
  width: 60px;
  left: 54.3%;
  background:  rgba(255, 253, 234, 0.6);
  filter: blur(3px);
  
  }
  .link1:nth-child(5){
  width: 85px;
  }
  .link1:nth-child(5):hover~.animation{
  width: 85px;
  left: 60.539%;
  background:  rgba(255, 253, 234, 0.6);
  filter: blur(3px);
  }
  .link1:nth-child(6){
  width: 100px;
  }
  .link1:nth-child(6):hover~.animation{
  width: 80px;
  left: 68.75%;
  background:  rgba(255, 253, 234, 0.6);
  filter: blur(3px);
  }
  
  .link1:nth-child(7){
  width: 0px;
  }
  .link1:nth-child(7):hover~.animation{
  width: 100px;
  left: 76.7%;
  background:  rgba(255, 253, 234, 0.6);
  filter: blur(3px);
  }